/* write your override styles here */

.tag-1 {
  background: url(../images/tag-1.png) no-repeat;
  z-index: 7;
  display: block;
  margin-left: 20rem;
}

#wall #tag-2 {
  background: url(../images/tag-2.png) no-repeat;
  z-index: 6;
  display: block;
  margin-left: 80rem;

}

#wall #tag-4 {
  background: url(../images/tag-4.png) no-repeat;
  z-index: 10;
  display: block;
  margin-right: 40rem;
}

div#wall .parent #tag-5.slick {
  background: url(../images/tag-5.png) no-repeat;
  z-index: 3;
  display: block;
  margin-left: 20rem;
}
